<html>
<head>
    <title>Search</title>
</head>
<body>
    <form action="/vote/" method="POST">
        <input type="checkbox"  value=1 name="votes"/>1
        <input type="checkbox"  value=2 name="votes"/>2
        <input type="checkbox"  value=3 name="votes"/>3
        <input type="checkbox"  value=4 name="votes"/>4
        <input type="checkbox"  value=5 name="votes"/>5
        <input type="checkbox"  value=6 name="votes"/>6
        <input type="checkbox"  value=7 name="votes"/>7
        <input type="checkbox"  value=8 name="votes"/>8
        <input type="checkbox"  value=9 name="votes"/>9
        <input type="checkbox"  value=10 name="votes"/>10
        <input type="checkbox"  value=11 name="votes"/>11
        <input type="checkbox"  value=12 name="votes"/>12
        <input type="checkbox"  value=13 name="votes"/>13
        <input type="checkbox"  value=14 name="votes"/>14
        <input type="checkbox"  value=15 name="votes"/>15
        <input type="checkbox"  value=16 name="votes"/>16
        <input type="text" name="invitation">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
