<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<html>
<head>
    <title>投票结果</title>
</head>
<body>
<table>
<tr><td width=50>id</td><td width=200>验证码</td><td>状态</td></tr>
 {% for item in all %}
<tr><td width=50>{{ item.id }}</td><td width=200>{{ item.passwd }}</td><td>{% ifequal item.status 1 %}可用{% else %}不可用，使用者：{{ item.usedip }} {% endifequal %}</td></tr>
{% endfor %}
</table>
<p><a href='/vote'> 返回投票 </a></p>
</body>
</html>

